attrs==23.2.0
contourpy==1.2.0
cycler==0.12.1
dill==0.3.8
fonttools==4.49.0
hypothesis==6.98.17
iniconfig==2.0.0
kiwisolver==1.4.5
matplotlib==3.8.3
mpmath==1.3.0
numpy==1.26.4
packaging==23.2
pbr==6.0.0
pillow==10.2.0
pluggy==1.4.0
psutil==5.9.8
pylatexenc==2.10
pyparsing==3.1.1
pytest==8.0.2
python-dateutil==2.8.2
qiskit==1.0.1
qiskit-aer==0.13.3
qutip==4.7.5
qutip-qip==0.3.0
rustworkx==0.14.1
scipy==1.12.0
six==1.16.0
sortedcontainers==2.4.0
stevedore==5.2.0
symengine==0.11.0
sympy==1.12
typing_extensions==4.10.0
